<section class="container">
    <h1>Bloggers</h1>
    <% if @users.empty? %>
        <p>There are no available bloggers yet</p>
    <% else %>
        <% @users.each do |user| %>
            <%= render partial: 'shared/users-display', locals: {user: user} %>
        <% end %>
    <% end %>
</section>
