<div>

  <h1 class="text-center"><%= post.title %></h1>

  <p>
    <%= post.body %>
  </p>

  <p>
    <strong>Comments: <%= post.comments_count %> | </strong>
     <strong>Likes: <%= post.likes_count %></strong>
  </p>
</div>
