<%= link_to user_path(user.id), class:'link text-decoration-none text-dark' do%>
    <div class='d-flex justify-content-between rounded align-items-center bg-light p-3 px-5 my-3'>
        <% if user.image.present? %>
            <%= image_tag(user.image, height: 150, class: 'round') %>
        <% else %>
            <%= image_tag("image_placeholder.png", height: 150, class: 'round') %>
        <% end %>
        <h2 class="flex-grow-3"> <%= user.name %> </h2>
    </div>
<% end %>