<section class="container position-relative">
  <%= render partial: 'shared/post', locals: {post: @post } %>

  <div>
    <%= link_to "<--Back", user_path(params[:user_id]), class: "fw-bold fs-5 position-absolute top-0 mt-3 link text-decoration-none text-dark" %>
    <%= button_to "Remove this post", user_post_path(@post), method: :delete, class: "btn btn-danger"%>
  </div>
</section>
